* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Typography*/

.white-header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: inline-block;
}

.white-text {
  font-size: 1.5rem;
  font-weight: 400;
}

.blue-link {
  color: #1B9AAA;
  font-size: 1.5rem;
  border: solid #1B9AAA 2px;
  padding: 1.5rem;
  display: inline-block;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

/*Header*/

header {
    height: 111px;
    display: flex;
    align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.desktop-menu {
    display: none;
    visibility: hidden;
    margin-left: 3rem;
}

.desktop-menu ul {
    display: flex;
    gap: 60px;
}

@media (min-width: 768px) {
    .desktop-menu {
        display: block;
        visibility: visible;
    }

    #menuToggle {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 1500px) {
    
}


/*Hero*/

.hero {
    background-image:url(img/schwalbe.jpg);
    background-position: center;
    background-size: 350%;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.left {
    display: none;
}

.left img {
  width: 400px;
  border-radius: 20px;
  filter: drop-shadow(2px 2px 11px rgba(0, 0, 0, 0.25));
}

.content-section {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {

  .blue-link {
    max-width: 300px;
  }
  
  .hero {
    background-size: 200%;
  }
}

@media (min-width: 1200px) {
  .left {
    display: flex;
    align-items: center;
  }

  .hero {
    background-size: 120%;
  }

  .hero .content-section {
    display: flex;
    justify-content: space-between;
    gap: 20%;
  }

}

/*Spacer*/

.berge img {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

/*About*/

.about {
  background-image: url(img/tiger.png);
  background-position: center;
  background-size: 200%;
  height: 600px;
}

@media (min-width: 768px) {
  .about {
    background-size: 120%;
  }
}

@media (min-width: 1200px) {
  .about {
    background-size: 100%;
  }
}

/*Footer*/

footer {
  height: 150px;
  background-color: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 10px;
}

@media (min-width: 768px) {
  footer p {
    font-size: 1rem;
  }
}





/*Hamburger*/
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}